
//默认背景
$bg: #f2f2f2;
// 主题颜色
// $theme:#0A56BB;
$theme:#316bf3;

//白
$c-w: #FFFFFF;
//浅灰
$c-gray: #F0F0F0;
//字体黑
$c-b: #333333;
//字体灰-深灰 
$c-g:#666666;
//字体灰-浅灰 
$c-sg:#999999;
//灰蓝
$c-bg: #7E81AF;
//红
$c-r: #f75a77;
//中蓝
$c-mb:#8EBAFF;
//浅蓝
$c-sb:#F2F4FF;
 

//定义字体规范
$fz-l: 15px;
$fz-m: 13px;
$fz-s: 12px;
